.POA-Camera-Container{
    z-index: 1;
    width: 100%;
    position: absolute;
    display: flex;
}
.POA-previewImg{
    width: 100%;
}
.POA-preview-container{
    z-index: 10;
    width: 100%;
    position: absolute;
    display: flex;
}
.POA-capture-containger{
    width: 100%;
    height: 100vh;
    z-index: 55;
    position: absolute;
}
.POA-Background-Container{
    width: 100%;
    position: absolute;
    z-index: 30;
}
.POA-CaptureButton{
    width: 60px;
    height: 60px;
}
.POA-MessageTitle{
    color: white;
    font-style: italic;
}
.POA-txtMessage{
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}
.POA-button-preview{
    width: 100%;
    position: absolute;
    z-index: 100;
    align-items: center;
    display: flex;
    flex-direction: row;
}


